# Files that are going to be encrypted

cna_v1alpha1_argocd_cr.yaml filter=git-crypt diff=git-crypt


# Making sure that .gitattributes is never encrypted. DON'T TOUCH THAT LINE AND ONE BELOW
.gitattributes !filter !diff
